<!DOCTYPE html>
<html>
<head>
  <title>Cofounderlab</title>
  <%= stylesheet_link_tag "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= javascript_include_tag "scaffold" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
